/* override css styles of the main theme here */
/*section.main .container .content .post-item {
  align-items: flex-start;
}

.post-item .meta {
  min-width: 200px;
}

.post-item .section {
  flex-grow: 1;
}

.post-item .title {
}

.post-item .section {
  width: 130px;
  font-size: 14px;
  color: #666;
}*/
